@model NewFilms.Models.ComedyFilm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imdb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imdb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleasedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleasedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeadActor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeadActor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
